@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --khimji-red: #BF1E2D;
  --khimji-gold: #C7A12F;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--khimji-red);
  color: white;
  font-family: 'Montserrat', sans-serif;
}