@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --khimji-red: #bd1621;
  --khimji-gold: #CBA20E;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--khimji-red);
  color: white;
  font-family: 'Montserrat', sans-serif;
}